<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo center">foood</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a href="/">Home</a></li>
      <li><a href="badges.html">Components</a></li>
      <li><%= link_to current_user do %>My Profile<% end %></li>
    </ul>
    <ul class="right hide-on-med-and-down">
      <% if user_signed_in? %>
      <li>
        <%= link_to "New Post", new_post_path, class:"button", type: "button" %>
      </li>
      <% else %>
      <% end %>
      <% if user_signed_in? %>
      <li>
        <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
      </li>
      <li>
        <%= link_to(current_user.email, edit_user_registration_path) %>
      </li>
      <% else %>
      <li>
        <%= link_to('Login', new_user_session_path)  %>
      </li>
      <li>
        <%= link_to('Register', new_user_registration_path)  %>
      </li>
      <% end %>
    </ul>
  </div>
</nav>
