<div class="container">

  <div class="avatar-card">
    <%= image_tag @user.avatar.url(:medium) %>
    <h3><%=@user.first_name %> <%= @user.last_name %></h3>
    <p>Birthday: <%= @user.birthday.strftime("%d/%m/%Y") %></p>
    <% if @user.id != current_user.id %>
   <%= link_to "Message me!", conversations_path(sender_id: current_user.id, recipient_id: @user.id), method: 'post'%>
    <% end %>
  </div>

  <div class="row">
    <% @user_posts.each do |post| %>
    <div class="col s5 m4">
      <div class="card">
        <div class="card-image">
          <%= image_tag post.image.url(:large) %>
          <span class="card-title">
          </span>
        </div>
        <div class="card-content">
          <%= rating_for post, 'healthy', enable_half: true %>
          <%= truncate(post.description, :length => 80) %>
          </div>
          <div class="card-action">
            <%= link_to post.title, post_path(post) %>
          </div>
        </div>
      </div>
      <% end %>
  </div>
</div>
