<div class="container">

<div class="row no-margin center-align">

  <div class="col s12 m12 l4 avatar-card center-align green accent-1">
    <div class="simple-box">

    <div class="row center-align no-margin">

    <div class="box1 green lighten-1 no-margin z-depth-5">
      <div class="box green lighten-2">
        <%= image_tag @user.avatar.url(:medium), class: "avatar-image" %>
      </div>
    </div>
  </div>
<div class="row">

    <h3><%=@user.first_name.capitalize %> <%= @user.last_name.capitalize %></h3>
    <p>Birthday: <%= @user.birthday.strftime("%d/%m/%Y") %></p>
    <% if @user.id != current_user.id %>
   <%= link_to "Message me!", conversations_path(sender_id: current_user.id, recipient_id: @user.id), method: 'post'%>
    <% end %>
  </div>
</div>
</div>

</div>


  <div class="row">
    <% @user_posts.each do |post| %>
    <div class="col s5 m4">
      <div class="card">
        <div class="card-image">
          <%= image_tag post.image.url(:large) %>
          <span class="card-title">
          </span>
        </div>
        <div class="card-content">
          <%= rating_for post, 'healthy', enable_half: true %>
          <%= truncate(post.description, :length => 80) %>
          </div>
          <div class="card-action">
            <%= link_to post.title, post_path(post) %>
          </div>
        </div>
      </div>
      <% end %>
  </div>
</div>
