<%= form_for([@restaurant, meal]) do |f| %>
  <% if meal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(meal.errors.count, "error") %> prohibited this meal from being saved:</h2>

      <ul>
      <% meal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :cuisine %>
    <%= f.text_field :cuisine %>
  </div>

  <div class="field">
    <%= f.label :ingredients %>
    <%= f.text_area :ingredients %>
  </div>

  <div class="field">
    <%= f.check_box :vegetarian %>
    <%= f.label :vegetarian %>
  </div>

  <div class="field">
    <%= f.check_box :vegan %>
    <%= f.label :vegan %>
  </div>

  <div class="field">
    <%= f.check_box :gluten_free %>
    <%= f.label :gluten_free %>
  </div>

  <div class="field">
    <%= f.check_box :takeaway %>
    <%= f.label :takeaway %>
  </div>

  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>


  <div class="field">
    <%= f.label :restaurant_id %>
    <%= f.text_field :restaurant_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
