<div class="food-index">

  <div class="container">

    <div class="row">
      <div class="col s12 m12 l6 blurred-back2">

        <p id="notice"><%= notice %></p>

        <%= image_tag @meal.image.url(:large) %>

        <p>
          <strong>Healtiness:</strong>
          <%= rating_for @meal, 'healthy', star: 5 %>
        </p>


        <p>
          <strong>Title:</strong>
          <%= @meal.title %>
        </p>

        <p>
          <strong>Ingredients:</strong>
          <%= @meal.ingredients %>
        </p>

        <p>
          <strong>Vegetarian:</strong>
          <%= yes_no(@meal.vegetarian) %>
        </p>

        <p>
          <strong>Vegan:</strong>
          <%= yes_no(@meal.vegan) %>
        </p>

        <p>
          <strong>Cuisine:</strong>
          <%= @meal.cuisine %>
        </p>

        <p>
          <strong>Gluten free:</strong>
          <%= yes_no(@meal.gluten_free) %>
        </p>

        <p>
          <strong>Takeaway:</strong>
          <%= yes_no(@meal.takeaway) %>
        </p>

        <p>
          <strong>Restaurant:</strong>
          <%= @meal.restaurant.name %>
        </p>

        <% if @meal.restaurant.user_id == current_user.id || current_user.admin? %>
          <%= link_to 'Edit', edit_restaurant_meal_path(@meal.restaurant, @meal), class:"waves-effect waves-light btn btn-small green darken-2" %>
          <%= link_to 'Destroy', restaurant_meal_path(@meal.restaurant, @meal), method: :delete, data: { confirm: 'Are you sure?' }, class:"waves-effect waves-light btn btn-small green darken-2" %>
        <% end %>

        <%= link_to 'Back', restaurant_path(@meal.restaurant), class:"waves-effect waves-light btn btn-small green darken-2" %>
      </div>

      <div class="col s12 m12 l6 comment-section" style="padding:10px;">
        <%= render '/comments/form', comment: @comment %>
        <% @meal.comments.each do |comment| %>
        <div class="comments">
          <%= comment.user.first_name %> <%= comment.user.last_name %>: <br />
          <%= comment.content %>
        </div>
  <% if comment.user_id == current_user.id || current_uder.admin? %>
          <%= link_to 'Edit', edit_restaurant_meal_comment_path(@meal.restaurant, @meal, comment), class:"waves-effect waves-light btn btn-small green darken-2" %>
          <%= link_to 'Destroy', restaurant_meal_comment_path(@meal.restaurant, @meal, comment), method: :delete, data: { confirm: 'Are you sure?' }, class:"waves-effect waves-light btn btn-small green darken-2" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
