<!DOCTYPE html>
<html>
  <head>
    <title>Foood</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

    <script>
    $(document).ready(function(){
      $(".dropdown-button").dropdown();
      $('.slider').slider();
      $(".button-collapse").sideNav();
        });
    </script>

    <%= render 'partials/navbar' %>
      <%= yield %>

  </body>
</html>
